:root {
  --color-bg-variant: #ffffffaf; 
  --color-primary: #333333; 
  --color-primary-variant: #d8602c; 
}

.experience__container > div {
  background: var(--color-bg-variant); 
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  width: 60%;
  margin: 0 auto;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary); 
}

.Education {
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.Certificates_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.education__list {
  list-style-type: none;
  padding: 0; 
}

.education__item {
  margin-bottom: 15px; 
}

.education__item h4 {
  font-size: 1.2em; 
  margin: 0; 
}

.education__item p {
  font-size: 1em; 
  margin: 3px 0; 
}

.education__duration {
  font-size: 0.9em; 
  color: #555; 
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  margin-left: 5px; 
  color: var(--color-primary); 
}

@media screen and (max-width: 1024px) {
  .experience__container > div {
    width: 80%;
    padding: 2rem;
  }
}


section#About h1 {
  color: #f5f5f5;
  font-weight: lighter;
  font-size: 2.2rem;
  /* margin-bottom: 0%; */
}

section#About h1 strong {
  color: #d8602c; 
}

.MuiTabs-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTabs-flexContainer {
  justify-content: center; 
}

.MuiTab-root {
  color: #f5f5f5 !important; 
  font-size: 1.2rem !important;
  font-weight: 1000 !important; 
}

.MuiTab-root.Mui-selected {
  color: #ff2f00 !important; 
  font-weight: lighter !important; 
}

.MuiTab-root:hover {
  color: rgba(255, 255, 0, 0.873) !important; 
}

.about__me {
  padding: 20px;
  margin-bottom: 5%;
}

.about__me .MuiTypography-root {
  color: #f5f5f5;
  line-height: 1.7;
  font-size: 18px;
  margin-bottom: 10px;
}

.imgcont {
  display: flex; 
  gap: 1rem;
}

.cont {
  display: flex;
  flex-direction: column;
}

.img {
  margin-top: 4%;
  transition: filter 1s ease, transform 1.7s ease; 
  filter: grayscale(100%); 
}

.img:hover {
  filter: grayscale(0%); 
  transform: scale(1.1) rotate(345deg);
  cursor: pointer; 
}
