@import url("./shared_animtion.css");

:root{
    --blueBtn: #f05811;
}
.activeOpenBtn{
    background-color:transparent;
    color: var(--blueBtn);
    transition: 0.2s all ease-in-out;
    border-radius: 7px 7px 7px 7px;
    /* transform: translateX(-2%) scale(0.8);  */
    text-shadow: 2px 2px 4px #c8b29a; 
    
}

.activeCloseBtn{
    background-color: transparent;
    color: #f2f2f4;
    transition: 0.2s all ease-in-out;
    border-radius: 7px 7px 7px 7px;
    transform: scale(0.8);

}

.sideMenuContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sideFloatClass{
    opacity: 0;
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: 2%;
}

.sideMenuContainer .sideMenuLinks{
    text-decoration: none;
    color: #F2f2f4;
}


.HomeContainer{
    display: flex;
    height: 100vh;
    background-image: url("../images/back2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.AppBar{
     background-color: transparent;
    /* background: linear-gradient(to right , transparent, rgba(112, 88, 101, 0.5)); */
    /* background: linear-gradient(to right , transparent, rgba(170, 128, 150, 0.5)); */
    box-shadow: none;
}
.SkeletonComponent{
    margin-top: 2%;
    margin-right: 1%;
    backdrop-filter: blur(3px);
    height: calc(100vh - 14%);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius:  14px 14px 14px 14px;
    padding: 5%;
}
.SkeletonComponent .skeleton{
    border-radius:  14px 14px 14px 14px;
    background-color: rgb(255, 255, 255);
}
.MainComponent{
    /* border: 2px solid red; */
    /* background-color: white; */
    border-radius:  14px 14px 14px 14px;
    padding: 1%;
    margin-top: 2%;
    margin-right: 1%;
    backdrop-filter: blur(2.5px);
    background: linear-gradient(to top,transparent,#ec92432e);/*bada wala dabba */
    height: calc(100vh - 14%);
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: rgba(255, 255, 255, 0.3);  */
}

.AppBarText{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
    color: #f05811;
    /* text-shadow: 2px 2px 5px rgb(92, 86, 86); */
}
